{% extends 'ProjectWork/base.html'%} {% block content%}
<br></br>

<style>
  html,body {
    background-color: #D8D9DA;
  }

  td,th {
    border: 1px solid white;
  } 

  th {
    background-color: grey;
  }
  td:hover{
    background-color: #31d2f2;
  }
</style>
<div class = "container">
  
  <br>
  <h6 style="text-align: center; font-weight: bolder;">SEARCH HERE</h6>

  <div class="card-body" style="background-color: #36454F; width: 50%; margin-left: 250px;">
    <p>
      <div class = "container" style="text-align: center; color:  #FFF6E0;">
        <form action = "" method = "GET" style="width: 500px;">
          {{product_filters.form}}
          <input type = "submit" value = "Search Spareparts" class="btn btn-info btn"/>
        </form>
      </div>
    </p>

  </div>
  <br>
  <h4 class= "text-center" style="color: black; font-weight: bolder;">SPARE PARTS IN STOCK</h4>

  <br>
  <div class="card-body" style="background-color: #36454F;">
  <table class="table" style="border: 1px solid white;">
    <thead class="thead-dark" style="color:  black; text-align: center; border: 1px solid black; background-color: #FFF6E0;">
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Part Name</th>
        <th scope="col">Part Number</th>
        <th scope="col">Quantity</th>
        <th scope="col">Country of Origin</th>
        <th scope="col">Branch Name</th>
        <th scope="col">Unit Price(UGX)</th>
        <th scope = "col">Operate</th>
      </tr>
    </thead>
    {% for product in products %}
    <tbody style="color:  #FFF6E0;  text-align: center; border: 1px solid;">
      <tr>
        <!-- placeholders that will be replaced by the actual data of products -->    
        <td>{{product.Category_name}}</td>
        <td>{{product.part_name}}</td>
        <td>BC{{product.id}}</td>
        <td>{{product.total_quantity}}</td>
        <td>{{product.country_of_origin}}</td>
        <td>{{product.branch_name}}</td>
        <td>UGX{{product.unit_price}}</td>
        <!-- handling buy item link/button,hundled by product_detail view -->
        <td><a href="{% url 'product_detail' product.id %}">
        <input type="submit" value="PURCHASE" class="btn btn-info btn" type="button" /></a>
        <a href="{% url 'add_to_stock' product.id %}" ><input type= "submit" value="AddStock" class="btn btn-info" type="button"/></a>
      </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  <br>
  </div>
</div>
<br>
{% endblock%}
