{% extends 'ProjectWork/base.html'%}
{% load crispy_forms_tags %}
{%  load static %}
{% block content %}
<br/>

<style>
    html,body {
      background-color: #D8D9DA;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card-body">
            <div class="container">
                <form method="POST" action="" >
                    <h1 class="van" style="color: black; text-align: center;">SALES FORM</h1>
                    <br/>
                    {% csrf_token %}
                    {{ sales_form | crispy }}
                    <input type="submit" class="btn btn-danger btn" type="button" value="SALE">
                </form>
            
            </div>
        
        </div>

    </div>

</div>
{% endblock %}