{% extends 'ProjectWork/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


    {% block content %}
      <h2 style="text-align: center; color: black; margin-top:30px; padding-bottom: 0;">Login details here</h2>
    <form id="form" method = 'POST' style="border-radius: 20px; border: 10px solid #36454F; padding: 30px; width: 500px; height: 300px; margin-left: 400px;">
     {% csrf_token %} 
     <!-- for security purposes,prevents hackers from adding malicious content into our urls. -->
     {{form | crispy}}
      <!-- form handled by crispy forms -->
      <br>
      <input type="submit" name="Submit" class="btn  btn-info btn-block" style="margin-left: 150px;" type="button" value="LOGIN"> 
    </form>
    {% endblock %}