{% load crispy_forms_tags %} 
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeRealMotor Spare Parts Company</title>
  <link rel="icon" type="image/x-icon" href="{% static 'image/favicon_io/apple-touch-icon.png' %}">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
  <style>
    body,html {
      background-color: #D8D9DA;
    }
    a:hover {
      background-color:  #31d2f2;
    }
  </style>
  
  <div class="nav" style="background-color: black;" >
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <div id="logo"><img style="border-radius: 50px; width: 50px; height: 50px;" src="{% static 'image/logo.jpg' %}"></div>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a style="color:#FFF6E0 ; font-weight: bolder" class="nav-link active" aria-current="page" href="{% url 'index' %}">BRMSPC</a>
              </li>
            </ul>
            <li class="nav-item">
              <a style="text-align: center; color:#FFF6E0 ;margin-left: 950px; font-weight: bolder;">BeRealMotor</a>
            </li>  
        </div>
    </nav>
</div>

<br><br><br><br><br><br>
<div class="body container-fluid container">
  <h2 class="text-center" style="color:black; font-weight: bolder;">You have successsfully logged out</h2><br>
  <h6 class="text-center "><a href="{% url 'login' %}"><input type="submit" 
    value="LOGIN AGAIN"
    class="btn btn-info btn"
    type="button"/></a></h6>
</div>
{% endblock %}
<br></br><br></br><br></br><br></br>
<div class="card">
  <div class="card-body" style="background-color: black;">
    <footer style="background-color: black; color: #FFF6E0; text-align: center;">             
      <p>@2023 BeRealMotor Spare Parts Company. All rights reserved.
        Kiseka Market-Central Kampala
      </p>
      <i class="fa fa-copyright" style="color: #FFF6E0">
        juliesuareznakawesi
      </i>
      <i class="fa fa-twitter-square">
        <a href="https://twitter.com/home">@juliecristiana</a>
      </i>
    </footer>
  </div>
</div>

</body>
</html>